In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [19]:
basics = pd.read_csv("title_basics_data.tsv", delimiter = "\t")
basics.head(30)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,short,Miss Jerry,Miss Jerry,0,1894,\N,45,"Romance,Short"
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"
10,tt0000011,short,Akrobatisches Potpourri,Akrobatisches Potpourri,0,1895,\N,1,"Documentary,Short"
11,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Documentary,Short"
12,tt0000013,short,The Photographical Congress Arrives in Lyon,Neuville-sur-Saône: Débarquement du congrès de...,0,1895,\N,1,"Documentary,Short"
13,tt0000014,short,The Waterer Watered,L'arroseur arrosé,0,1895,\N,1,"Comedy,Short"
14,tt0000015,short,Autour d'une cabine,Autour d'une cabine,0,1894,\N,2,"Animation,Short"
15,tt0000016,short,Barque sortant du port,Barque sortant du port,0,1895,\N,1,"Documentary,Short"
16,tt0000017,short,Italienischer Bauerntanz,Italienischer Bauerntanz,0,1895,\N,1,"Documentary,Short"
17,tt0000018,short,Das boxende Känguruh,Das boxende Känguruh,0,1895,\N,1,Short
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898,\N,\N,"Comedy,Short"
19,tt0000020,short,The Derby 1895,The Derby 1895,0,1895,\N,1,"Documentary,Short,Sport"
20,tt0000022,short,Blacksmith Scene,Les forgerons,0,1895,\N,1,"Documentary,Short"
21,tt0000023,short,The Sea,Baignade en mer,0,1895,\N,1,"Documentary,Short"
22,tt0000024,short,Opening of the Kiel Canal,Opening of the Kiel Canal,0,1895,\N,\N,"News,Short"
23,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1895,\N,\N,"News,Short,Sport"
24,tt0000026,short,The Messers. Lumière at Cards,Partie d'écarté,0,1896,\N,1,"Documentary,Short"
25,tt0000027,short,Cordeliers' Square in Lyon,Place des Cordeliers à Lyon,0,1895,\N,1,"Documentary,Short"
26,tt0000028,short,Fishing for Goldfish,La pêche aux poissons rouges,0,1895,\N,1,"Documentary,Short"
27,tt0000029,short,Baby's Dinner,Repas de bébé,0,1895,\N,1,"Documentary,Short"
28,tt0000030,short,Rough Sea at Dover,Rough Sea at Dover,0,1895,\N,1,"Documentary,Short"
29,tt0000031,short,Jumping the Blanket,Le saut à la couverture,0,1895,\N,1,"Documentary,Short"

In [3]:
ratings = pd.read_csv("rating_data.tsv", delimiter = "\t")
ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.6      1668
1  tt0000002            6.1       207
2  tt0000003            6.5      1392
3  tt0000004            6.2       123
4  tt0000005            6.2      2179

In [4]:
data = ratings[ratings['averageRating'] > 8.0]
data.head(5)

        tconst  averageRating  numVotes
273  tt0000361            8.1        10
298  tt0000417            8.2     43785
338  tt0000505            8.1        11
606  tt0000961            8.2        13
686  tt0001089            8.3        19

In [5]:
final_ratings = data.sort_values('numVotes', ascending = False)

In [6]:
final_ratings.head(20)

           tconst  averageRating  numVotes
81763   tt0111161            9.3   2324705
245941  tt0468569            9.0   2286538
581337  tt1375666            8.8   2050103
98028   tt0137523            8.8   1841325
81547   tt0110912            8.9   1813205
80674   tt0109830            8.8   1793487
423361  tt0944947            9.3   1745723
95950   tt0133093            8.7   1663688
89533   tt0120737            8.8   1648332
112825  tt0167260            8.9   1631652
45692   tt0068646            9.2   1606062
573924  tt1345836            8.4   1506463
387373  tt0816692            8.6   1495006
112826  tt0167261            8.7   1475172
413506  tt0903747            9.5   1437859
84315   tt0114369            8.6   1432983
665864  tt1853728            8.4   1346225
115246  tt0172495            8.5   1332104
206276  tt0372784            8.2   1300069
74983   tt0102926            8.6   1260893

In [7]:
output = pd.merge(final_ratings, basics, on= 'tconst')
output.head(10)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0111161,9.3,2324705,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
1,tt0468569,9.0,2286538,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
2,tt1375666,8.8,2050103,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"
3,tt0137523,8.8,1841325,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
4,tt0110912,8.9,1813205,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
5,tt0109830,8.8,1793487,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
6,tt0944947,9.3,1745723,tvSeries,Game of Thrones,Game of Thrones,0,2011,2019,57,"Action,Adventure,Drama"
7,tt0133093,8.7,1663688,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
8,tt0120737,8.8,1648332,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
9,tt0167260,8.9,1631652,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"

In [8]:
output = output[output['titleType'] == 'movie']

In [9]:
output.head(10)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0111161,9.3,2324705,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
1,tt0468569,9.0,2286538,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
2,tt1375666,8.8,2050103,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"
3,tt0137523,8.8,1841325,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
4,tt0110912,8.9,1813205,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
5,tt0109830,8.8,1793487,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
7,tt0133093,8.7,1663688,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
8,tt0120737,8.8,1648332,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
9,tt0167260,8.9,1631652,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"
10,tt0068646,9.2,1606062,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama"

In [10]:
output['originalTitle'].head(20)

0                              The Shawshank Redemption
1                                       The Dark Knight
2                                             Inception
3                                            Fight Club
4                                          Pulp Fiction
5                                          Forrest Gump
7                                            The Matrix
8     The Lord of the Rings: The Fellowship of the Ring
9         The Lord of the Rings: The Return of the King
10                                        The Godfather
11                                The Dark Knight Rises
12                                         Interstellar
13                The Lord of the Rings: The Two Towers
15                                                Se7en
16                                     Django Unchained
17                                            Gladiator
18                                        Batman Begins
19                             The Silence of the Lambs
20                                 Inglourious Basterds
21                                  Saving Private Ryan
Name: originalTitle, dtype: object

In [11]:
basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [12]:
basics['startYear'] = pd.to_numeric(basics['startYear'], errors='coerce')

In [13]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [14]:
year = basics[(basics['startYear'] >= 2000) & (basics['titleType'] == 'movie')]
year.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
15184,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N
16662,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical"
19706,tt0019996,movie,Hongxia,Hongxia,0,2011.0,\N,94,\N
34811,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance"
61132,tt0062336,movie,El Tango del Viudo y Su Espejo Deformante,El Tango del Viudo y Su Espejo Deformante,0,2020.0,\N,70,Drama
63462,tt0064730,movie,Japan Organized Crime Boss,Nihon boryoku-dan: Kumicho,0,2000.0,\N,97,"Action,Crime"
64107,tt0065392,movie,Bucharest Memories,Amintiri bucurestene,0,2020.0,\N,\N,Documentary
67686,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,\N,122,Drama
85714,tt0087608,movie,Leila wa al ziap,Leila wa al ziap,0,2008.0,\N,90,Documentary
86825,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,\N,100,"Comedy,Horror,Sci-Fi"

In [15]:
output1 = pd.merge(year, ratings, on= 'tconst')
output1.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N,5.4,11
1,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical",5.6,15
2,tt0019996,movie,Hongxia,Hongxia,0,2011.0,\N,94,\N,6.3,52
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,78683
4,tt0062336,movie,El Tango del Viudo y Su Espejo Deformante,El Tango del Viudo y Su Espejo Deformante,0,2020.0,\N,70,Drama,6.4,125
5,tt0064730,movie,Japan Organized Crime Boss,Nihon boryoku-dan: Kumicho,0,2000.0,\N,97,"Action,Crime",7.0,172
6,tt0065392,movie,Bucharest Memories,Amintiri bucurestene,0,2020.0,\N,\N,Documentary,6.3,7
7,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,\N,122,Drama,6.8,6190
8,tt0087608,movie,Leila wa al ziap,Leila wa al ziap,0,2008.0,\N,90,Documentary,7.7,13
9,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,\N,100,"Comedy,Horror,Sci-Fi",5.4,274

In [16]:
votes = output1[output1['numVotes'] > 40000]
votes.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,78683
39,tt0118694,movie,In the Mood for Love,Fa yeung nin wah,0,2000.0,\N,98,"Drama,Romance",8.1,122948
66,tt0120630,movie,Chicken Run,Chicken Run,0,2000.0,\N,84,"Adventure,Animation,Comedy",7.0,176309
67,tt0120667,movie,Fantastic Four,Fantastic Four,0,2005.0,\N,106,"Action,Adventure,Fantasy",5.7,310529
69,tt0120679,movie,Frida,Frida,0,2002.0,\N,123,"Biography,Drama,Romance",7.4,80987
70,tt0120681,movie,From Hell,From Hell,0,2001.0,\N,122,"Horror,Mystery,Thriller",6.8,146310
73,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001.0,\N,178,"Action,Adventure,Drama",8.8,1648332
75,tt0120755,movie,Mission: Impossible II,Mission: Impossible II,0,2000.0,\N,123,"Action,Adventure,Thriller",6.1,313130
76,tt0120804,movie,Resident Evil,Resident Evil,0,2002.0,\N,100,"Action,Horror,Sci-Fi",6.7,246545
80,tt0120903,movie,X-Men,X-Men,0,2000.0,\N,104,"Action,Adventure,Sci-Fi",7.4,568306

In [17]:
Output2 = votes.sort_values('averageRating', ascending = False)
Output2.head(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
78605,tt2592910,movie,CM101MMXI Fundamentals,CM101MMXI Fundamentals,0,2013.0,\N,139,"Comedy,Documentary",9.2,43804
20010,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008.0,\N,152,"Action,Crime,Drama",9.0,2286538
366,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003.0,\N,201,"Action,Adventure,Drama",8.9,1631652
47519,tt1375666,movie,Inception,Inception,0,2010.0,\N,148,"Action,Adventure,Sci-Fi",8.8,2050103
73,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001.0,\N,178,"Action,Adventure,Drama",8.8,1648332
111682,tt5813916,movie,The Mountain II,Dag II,0,2016.0,\N,135,"Action,Drama,War",8.8,104721
367,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002.0,\N,179,"Action,Adventure,Drama",8.7,1475172
30106,tt10189514,movie,Soorarai Pottru,Soorarai Pottru,0,2020.0,\N,153,Drama,8.7,51444
7552,tt0317248,movie,City of God,Cidade de Deus,0,2002.0,\N,130,"Crime,Drama",8.6,695667
2348,tt0245429,movie,Spirited Away,Sen to Chihiro no kamikakushi,0,2001.0,\N,125,"Adventure,Animation,Family",8.6,644324
24723,tt0816692,movie,Interstellar,Interstellar,0,2014.0,\N,169,"Adventure,Drama,Sci-Fi",8.6,1495006
129909,tt8503618,movie,Hamilton,Hamilton,0,2020.0,\N,160,"Biography,Drama,History",8.6,50964
119393,tt6751668,movie,Parasite,Gisaengchung,0,2019.0,\N,132,"Comedy,Drama,Thriller",8.6,528416
21428,tt0482571,movie,The Prestige,The Prestige,0,2006.0,\N,130,"Drama,Mystery,Sci-Fi",8.5,1180732
2800,tt0253474,movie,The Pianist,The Pianist,0,2002.0,\N,150,"Biography,Drama,Music",8.5,723566
78488,tt2582802,movie,Whiplash,Whiplash,0,2014.0,\N,106,"Drama,Music",8.5,709823
122881,tt7286456,movie,Joker,Joker,0,2019.0,\N,122,"Crime,Drama,Thriller",8.5,917812
48894,tt1424432,movie,Senna,Senna,0,2010.0,\N,106,"Biography,Documentary,Sport",8.5,63816
14632,tt0407887,movie,The Departed,The Departed,0,2006.0,\N,151,"Crime,Drama,Thriller",8.5,1180900
56744,tt1675434,movie,The Intouchables,Intouchables,0,2011.0,\N,112,"Biography,Comedy,Drama",8.5,752392

In [18]:
Output2['originalTitle'].head(20)

78605                                CM101MMXI Fundamentals
20010                                       The Dark Knight
366           The Lord of the Rings: The Return of the King
47519                                             Inception
73        The Lord of the Rings: The Fellowship of the Ring
111682                                               Dag II
367                   The Lord of the Rings: The Two Towers
30106                                       Soorarai Pottru
7552                                         Cidade de Deus
2348                          Sen to Chihiro no kamikakushi
24723                                          Interstellar
129909                                             Hamilton
119393                                         Gisaengchung
21428                                          The Prestige
2800                                            The Pianist
78488                                              Whiplash
122881                                                Joker
48894                                                 Senna
14632                                          The Departed
56744                                          Intouchables
Name: originalTitle, dtype: object